# IntelliJ
.idea/
*.iml
.mvn/

# Gradle
.gradle/
build/
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Node
node_modules/

# React Native
android/.gradle/
android/app/build/
ios/Pods/
.gradle-home/


# local config
ai-context/
documents/

.agents/

#firebase 서비스 계정 키
DOCK-BE/core-service/secrets/firebase/*.json
# notification manual test file
DOCK-BE/core-service/http/notification-manual-test.http
